/* -------------------
    table of content

    1. imports
    2. base styles
    3. base styles
    4. header
    5. toolbar
    6. sections
    7. cards
    8. toggle switch
    9. footer
    ------------------ */

/* 1. imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* 2. base styles */
:root {
  --bg: hsl(0, 0%, 100%);
  --bg-pattern: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --bg-card-light-hover: hsl(232, 33%, 91%);
  --bg-card-dark-hover: hsl(228, 26%, 27%);
  --bg-card-hover: var(--bg-card-light-hover);
  --card-border-radius: 5px;
  --text-secondary: hsl(230, 17%, 14%);
  --text-primary: hsl(228, 12%, 44%);
  --text-success: hsl(163, 72%, 41%);
  --text-danger: hsl(356, 69%, 56%);
  --bg-switch-light: hsl(230, 22%, 74%);
  --bg-switch-dark: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --bg-switch: var(--bg-switch-light);
  --bg-slider: #fff;

  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font: 400 1.4rem/1.5 'Inter', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color 200ms ease, color 200ms ease;
}

body.dark-theme {
  --bg: hsl(230, 17%, 14%);
  --bg-pattern: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 28%, 20%);
  --bg-card-hover: var(--bg-card-dark-hover);
  --text-primary: hsl(228, 34%, 66%);
  --text-secondary: hsl(0, 0%, 100%);
  --bg-switch: var(--bg-switch-dark);
  --bg-slider: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-secondary);
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #2c74e0;
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-success {
  color: var(--text-success);
}
.text-danger {
  color: var(--text-danger);
}

/* 3. header */
.header {
  height: 230px;
  background-color: var(--bg-pattern);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media (min-width: 768px) {
  .header {
    height: 260px;
  }
}

/* 4. toolbar */
.toolbar {
  display: flex;
  align-items: start;
  flex-flow: column;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.toolbar-before,
.toolbar-after {
  width: 100%;
}

.toolbar-before {
  border-bottom: solid 1px rgba(206, 206, 206, 0.15);
}
.toolbar-before .toolbar-item:first-child {
  flex-flow: column;
  align-items: flex-start;
}

.followers-text {
  font-weight: 700;
  color: var(--text-primary);
}

.toolbar-after {
}

.toolbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
}

.toolbar-item a {
  color: inherit;
}

@media (min-width: 768px) {
  .toolbar {
    flex-direction: row;
    align-items: center;
  }
  .toolbar-before {
    border-bottom: none;
  }
  .toolbar-item {
    justify-content: flex-end;
  }
}

/* 5. sections */
.section {
  position: relative;
}

.section-main {
  bottom: 50px;
}

.section-main {
  bottom: 50px;
}

@media (min-width: 768px) {
  .section-main {
    bottom: 125px;
  }
}

/* 6. cards */
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  justify-content: center;
  gap: 3rem;
}

.cards-wrapper-main {
  grid-auto-rows: 230px;
}
.cards-wrapper-overview {
  grid-auto-rows: 125px;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(247px, 247px));
  }
  .cards-wrapper-overview {
    row-gap: 3rem;
  }
}

.card {
  position: relative;
  background-color: var(--bg-card);
  border-radius: var(--card-border-radius);
  cursor: pointer;
  transition: 300ms background;
}

.card:hover {
  background-color: var(--bg-card-hover);
}

.card-nickname {
  max-width: 155px;
}

.cards-wrapper-main .card::before {
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.cards-wrapper-main .card.card-facebook::before {
  background-color: var(--facebook);
}
.cards-wrapper-main .card.card-twitter::before {
  background-color: var(--twitter);
}
.cards-wrapper-main .card.card-instagram::before {
  background: var(--instagram);
}
.cards-wrapper-main .card.card-youtube::before {
  background-color: var(--youtube);
}

/* 8. toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 180px;
  background: var(--bg-switch-light);
  transition: 100ms;
}
.slider::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--bg);
  transition: 100ms;
}
.switch input:checked + .slider {
  background: var(--bg-switch-dark);
}
.switch input:checked + .slider::before {
  transform: translate(27px, -50%);
}

/* 9. footer */
.footer {
  background-color: var(--bg-pattern);
  margin-top: 5rem;
  padding: 2rem 0;
}
